@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0.75);

}
.container{
    max-width: 920px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem;
    border-radius: 10px;
    overflow: hidden;
}

.card-1{
    background-color:hsl(31, 77%, 52%) ;
    height: 50vh;
    padding: 30px;
    width: 300px;
}
.card-2{
    background-color:hsl(184, 100%, 22%) ;
    height: 50vh;
    padding: 30px;
    width: 300px;
}
.card-3{
    background-color:hsl(179, 100%, 13%);
    height: 50vh;
    padding: 30px;
    width: 300px;
}
.card-1 img{
    padding: 20px 0;
}
.card-1 h1{
    font-family: 'Big Shoulders Display', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.card-1 p{
    font-family:'Lexend Deca', sans-serif; 
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    line-height: 26px;
    padding-bottom: 30%;
}
.card-1 button{
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border-width: 0;
    color:hsl(31, 77%, 52%) ;
}
.card-2 img{
    padding: 20px 0;
}
.card-2 h1{
    font-family: 'Big Shoulders Display', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.card-2 p{
    font-family:'Lexend Deca', sans-serif; 
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    line-height: 21px;
    padding-bottom: 30%;
}
.card-2 button{
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border-width: 0;
    color: hsl(184, 100%, 22%) ;
}
.card-3 img{
    padding: 20px 0;
}
.card-3 h1{
    font-family: 'Big Shoulders Display', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.card-3 p{
    font-family:'Lexend Deca', sans-serif; 
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    line-height: 26px;
    padding-bottom: 22%;
}
.card-3 button{
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border-width: 0;
    color:  hsl(179, 100%, 13%);
}

.card-1 button:hover{
    background: transparent;
    color: white;
    border: 2px solid #fff;
    transition: all .4s ease-in-out;
}
.card-2 button:hover{
    background: transparent;
    color: white;
    border: 2px solid #fff;
    transition: all .4s ease-in-out
}
.card-3 button:hover{
    background: transparent;
    color: white;
    border: 2px solid #fff;
    transition: all .4s ease-in-out
}


@media only screen and (max-width:768px) {
    .container{
        display: grid;
        grid-template-columns: 2fr;
        margin: 1rem 0.5rem;
    }
}

